<div markdown="0">
  {% if include.limit %}
    {% assign limit = include.limit %}
  {% else %}
    {% assign limit = posts.size %}
  {% endif  %}
  {% if include.date_field %}
    {% assign date_field = include.date_field %}
  {% else %}
    {% assign date_field = 'date' %}
  {% endif %}
{% for post in posts limit:limit  %}
    {% capture this_year %}{{ post[date_field]| date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post[date_field] | date: "%B" }}{% endcapture %}
    {% capture this_day %}{{ post[date_field] | date: "%d" }}{% endcapture %}
    {% capture next_year %}{{ post.previous[date_field] | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous[date_field] | date: "%B" }}{% endcapture %}

    {% assign post_id = post.title | slugify  %}
    {% if post.url  %}
      {% assign url = post.url | relative_url  %}
      {% assign first_url_letter = post.url | slice: 0 %}
      {% if post.url contains site.url or first_url_letter == "/"  %}
        {% assign is_internal = true %}
      {% endif %}
    {% else %}
      {% assign url = "#" | append: post_id   %}
      {% assign is_internal = true %}
    {% endif %}

    {% if forloop.first %}
        {% comment %}
            <!-- Not including month and year at the top -->
            <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
            <h3 id="{{ this_year }}-{{ this_month }}-ref">{{ this_month }}</h3>
        {% endcomment %}
    <div class="Chaos-Blog-List">
    {% endif %}

    <div
    class="Chaos-Blog-Item {% if forloop.first %}first{%endif %}" id="{{ post_id }}">
        <div class="top {% if include.alternate_direction %}{% cycle '','reverse' %}{% endif %}">
                {% if include.date!=false %}
                <div class="date">
                    <span class="day-number">{{ post[date_field] | date: "%e" }}</span>
                    <span class="month">{{ post[date_field] | date: "%b" }}</span>
                </div>
                {% endif %}
                {% if include.thumbnail and post.image.size > 1 %}
                <!-- <a href="{{ url   }}" class="thumbnail"> -->
                  <div class="thumbnail" style="background-image:url('{{ post.image  | relative_url  }}')">
                    <!-- <a href="{{ url   }}"><img title="{{post.title}}"  src="{{ post.image  | relative_url  }}" /></a> -->
                  </div>
                <!-- </a> -->
                {% endif %}

                <div class="description">
                    <div class="header-line">
                      <h3><a {% unless is_internal %}target="_blank"{% endunless %} href="{{ url }}">{{ post.title }}</a></h3>
                    </div>
                    {% if include.share_buttons %}
                      {% include share-links.html page=post %}
                    {% endif %}
                    {% if post.authors %}
                    <span>
                        {% for a in post.authors %}
                            {% if a.url %}<a href='{{ "/" | join: a.url | relative_url  }}'>{{ a.name }}</a>{% else %}{{a.name}}{% endif %}{% if forloop.last == false %},{% endif %}
                        {% endfor %}
                    </span>
                    {%endif%}
                    {% if include.summary!=false %}
                    <div class="summary" >
                      {% if post.summary %}
                          <p>{{ post.summary }}</p>
                        {% elsif post.excerpt %}
                          <p>{{ post.excerpt }}</p>
                        {% elsif post.description %}
                            <div class="snippet" >
                              {{ post.description | truncatewords : 15  | liquify | markdownify }}
                            </div>
                        {% endif %}
                      </div>
                      {% endif %}
                </div>
            </div>
            {% if post.image.size > 0 and include.thumbnail!=true %}
            <a {% unless is_internal %}target="_blank"{% endunless %} href="{{ post.url | relative_url  }}"><img src="{{ post.image  | relative_url  }}" /></a>
            {% endif %}
            <div style="width: 100%">
            {% if post.categories.size > 0 %}
                <span style="float: right;">Categories:
                {% for c in post.categories %}
                    <a href='{{ "/categories/" | join: c | relative_url }}'>{{ c }}</a>{% if forloop.last == false %},{% endif %}
                {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>


    {% if forloop.last %}
        </div>
    {% else %}
        {% if this_year != next_year %}
        </div>
        {% comment %}
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
        <h3 id="{{ next_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
        {% endcomment %}
        <div class="Chaos-Blog-List">
        {% else %}
            {% if this_month != next_month %}
            </div>
            {% comment %}
            <h3 id="{{ this_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
            {% endcomment %}
            <div class="Chaos-Blog-List">
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>
