<nav class="desktop">
    <div class="edgePadding"></div>
    {% include site-title.html %}
    <div class="centralPadding"></div>
    {% for link in site.menus.header %}
        <div class="page-link-parent {% if link.children %}has-children{% endif %}">
            <a class="page-link {% if link.children %}has-children{% endif %}" href="{{ link.url }}" {% if link.url contains 'https' %}target="_blank"{% endif %}>{{ link.title | escape }}</a>
            {% if link.children %}
            <div class="page-link-children">
                {% for child_link in link.children %}
                <a class="page-link" href="{{ child_link.url }}">{{ child_link.title | escape }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
      {% unless loop.last %}
          <div class="withinPadding"></div>
      {% endunless %}
    {% endfor %}

    <div class="social-links-padding"></div>
    {% include share-links.html page=page %}

    {% if site.donate %}
        <div class="withinPadding"></div>
        <a class="Chaos-Button" href="{{ site.donate | liquify | relative_url}}">Donate</a>
    {% endif %}

    <div class="edgePadding"></div>
</nav>
