<div class="Chaos-Logo-List">
  {% for org in site.data.partners %}
    <div class="Chaos-Logo-Item">
      {% if org.url %}<a href="{{  org.url }}" target="_blank">{% endif %}
        {% if org.image %}
          <img
            class="{% if include.background == 'light' %}darken{% else %}lighten{% endif %} {% if org.invert_logo_colour %}invert{% endif %}"
            src="{{ org.image }}"
            alt="{{ org.title }} Logo"
            title="{{ org.title }}"
            >
        {% else %}
          <p>{{ org.title }}</p>
        {% endif  %}
      {% if org.url %}</a>{% endif %}
    </div>
  {% endfor %}
</div>
