// Define defaults for each variable.
// @font-face{
//     font-family:"FucXed";
//     font-style:normal;
//     font-weight:normal;
//     src:url("../fucxedcaps-v2-webfont.woff2") format("woff2"),url("../assets/fucxedcaps-v2-webfont.woff") format("woff");
//     font-display:swap
// }



$table-text-align: left !default;

// Width of the content area
$content-width-narrow:    400px !default;
$content-width-wide:    600px !default;
$half-width:    500px !default;

$on-small:         400px !default;
$on-medium:        800px !default;
$on-large:         1300px !default;

$spacing-unit:     10px !default;
$action-bar-height: 72px !default;
$action-bar-height-mobile: 56px !default;
$rounding: 5px;

// Blocks
$block-height: calc(max(min( 50vw, 60vh ), 400px));

// Import partials.
@import
  "chaos/base",
  "chaos/header",
  "chaos/footer",
  "chaos/content",
  "chaos/print",
  "chaos/blocks",
  "chaos/form",
  "chaos/block2",
  "chaos/map",
  "custom",
  "an-form"
;
