{% if an_form_count %}
{% assign an_form_count = an_form_count | plus: "1" %}
{% else %}
{% assign an_form_count = 0 %}
{% endif %}
{% assign button = include.button | default: "Join us" %}
<form
  id="action-network-blind-post-{{ an_form_count }}"
  class="Chaos-Form Action-Network-Form"
  action="{{ include.endpoint }}"
  method="post"
  action-network-tags="{{ include.add_tags }}"
  action-network-remove-tags="{{ include.remove_tags }}"
  >
    {% assign lines = include.lines | split: "." %}
    {% for line in lines %}
    {% include an-form/line.html fields=line %}
    {% endfor %}
    <div id="action-network-blind-post-{{ an_form_count }}-success" class="Action-Network-Form-Sucess Results-Box Hide">
      {{ include.thank_you | default: "Thanks!" }}
    </div>
    <div id="action-network-blind-post-{{ an_form_count }}-fail" class="Action-Network-Form-Fail Results-Box Hide">
      {{ include.error_message | default: "There was an error submitting the form, could you try again? Let us know if it keeps failing" }}
    </div>
</form>