<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="refresh" content="0;URL='{{ page.redirect }}'">
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <main class="Chaos-Main">
      <div class="Chaos-Section">
        <div class="Chaos-Wrapper-Wide">
          <p>
            You are being redirected. If this does not work follow
            <a href="{{ page.redirect }}">this link</a> below instead.
          </p>
          <p>
            <a href="{{ page.redirect }}">{{ page.redirect }}</a>
          </p>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
